@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #2A262B; 
}

::-webkit-scrollbar-thumb {
  background: #4b5563; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280; 
}

/* Metin Seçimi Rengi */
::selection {
  background: #6366f1; /* Indigo-500 */
  color: white;
}

/* Tüm site için yumuşak kaydırma efekti */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden; /* İstenmeyen yatay kaymaları engellemek için */
}
